@model IEnumerable<MovieDB.Models.Movie>
<html>

</html>
<body onload="Start()" onmouseover="nullItems()">
<div class="container">
    <div class=" container float-left">
        <h1>My Movies: </h1>
    </div>
    <div id="error" class="alert alert-warning">
        <strong id="errormessage">Sorry!</strong><br/>No movies in your watchlist.
    </div>
    <table id="myList" class="table table-striped table-bordered">
        <tr>
            <th>
                <h5 class="text">Id</h5>
            </th>
            <th>
                <h5 class="text">Name</h5>
            </th>
          
            <th>
            <h5 class="text">Options</h5>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.movieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    @Html.HiddenFor(modelItem => item.ischecked)
                </td>
                
                <td>
                    <form method="post" onsubmit="return !Mconfirm()" onclick="location.href = '@Url.Action("Delete", "Movies", new {id=item.Id, name=item.Name})'">
                        <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                    </form>
                    <button type="button" class="btn btn-success" value="Delete" onclick="location.href = '@Url.Action("Details", "Movies", new {name=item.Name, movieId=item.movieId})'">Details</button>


                </td>
            </tr>
        }

    </table>

</div>
</body>

<script>
    function Mconfirm() {return confirm("Are you sure that you want to remove this movie from your watchlist")}
</script>

<script>
    function Start() {
        $("#error").hide();
        if (document.getElementById("myList").getElementsByTagName("tbody")[0].getElementsByTagName("td").length == 0) {
            $("#myList").hide();
            $("#error").show();
        }
    }
</script>

<script>
    function nullItems() {
        var rows = document.getElementById("myList").getElementsByTagName("tbody")[0].getElementsByTagName("td").length;
        if (rows == 0) {
            $("#error").show();
           
        }
        
    }
</script>

