@model MovieDB.Models.MovieModel
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm ())
{
    <div class=" container float-left">
        <h1>Search Results: </h1>
    </div>
    <div class="container">
       
        <table class="table table-striped table-bordered">
            <tbody>

            @for (int i=0; i < Model.Movies.Count; i++)
            {
                <tr>


                    <td>
                        <h3 class="text text-body">@Model.Movies[i].Name</h3>
                        @Html.CheckBoxFor(model => model.Movies[i].ischecked)
                        @Html.HiddenFor(model => model.Movies[i].Name)
                        @Html.HiddenFor(model => model.Movies[i].Id)
                        @Html.HiddenFor(model => model.Movies[i].movieId)
                        <label class="form-check-label text-danger">Select</label>
                    </td>
                </tr>
            }

            </tbody>

        </table>
        <button type="submit" value="" class="btn btn-danger">Add Selected Items to Wishlist</button>

    </div>
   
}



