@model MovieDB.Models.MovieModel
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm ())
{
    <body onload="Start()" >
    <div class=" container float-left">
        <h1>Search Results: </h1>
    </div>
    <div class="container">
        <div id="error" class="alert alert-warning">
            <strong id="errormessage">Unfortunetly!</strong>Any movie match your searches.
        </div>
        <table id="myList" class="table table-striped table-bordered">
            <tbody>

            @for (int i=0; i < Model.Movies.Count; i++)
            {
                <tr>


                    <td>
                        <h3 class="text text-body">@Model.Movies[i].Name</h3>
                        @Html.CheckBoxFor(model => model.Movies[i].ischecked, new {@id="select"})
                        @Html.HiddenFor(model => model.Movies[i].Name)
                        @Html.HiddenFor(model => model.Movies[i].Id)
                        @Html.HiddenFor(model => model.Movies[i].movieId)
                        <label class="form-check-label text-danger" for="select">Select</label>
                    </td>
                </tr>
            }

            </tbody>

        </table>
        <button type="submit" id="submit" value="" class="btn btn-danger">Add Selected Items to Wishlist</button>

    </div>
    </body>
    
    <script>
        function Start() {
            if (document.getElementById("myList").getElementsByTagName("tbody")[0].getElementsByTagName("td").length != 0) {
                $("#error").hide();
            } else {
                $("#error").show();
                document.getElementById("submit").disabled = true;
            }
        }
      
    </script>




}



